@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'DM Sans', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
	}
}

.bg-slate-700 {
	background-color: rgba(20, 21, 22, 0.449);
}

input.defaultCheckbox::before {
	content: url(../src/assets/svg/checked.svg);
	color: white;
	opacity: 0;
	height: 16px;
	width: 16px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}

.shadow:hover {
	box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

option {
	cursor: pointer !important;
}

.p-1\.5 {
	padding: 0.305rem !important;
	cursor: pointer;
}

.bg-neutral-800 {
	background-color: rgb(38 38 38 / 0.8);
}

.group:hover .group-hover\:text-transparent {
	color: transparent;
}

.bg-black {
	background-color: rgb(17, 16, 16);
}